<div class="center hero-unit">
  <h1>Seja Bem-Vindo</h1>

  <h2>
    Esta &eacute; a p&aacute;gina inicial para
    <%= link_to 'Keepintouch.net.br', root_path %></a>.
  </h2>

  <%= link_to "Log in now!", '#', class: "btn btn-large btn-primary" %>
</div>
