<li>
  <span class="name"><%= link_to partner.name, partner %>
  <% if current_user?(partner.collaborator) %>
    | <%= link_to "delete", partner, method: :delete,
                                     data: { confirm: "Tem certeza?" },
                                     title: partner.collaborator.name %>
  <% end %>
  </span>
</li>
