<% provide(:title, 'Lista de Colaboradores') %>

<% if @collaborators.size ==1 %>
  <h2>O único colaborador cadastrado é você mesmo!</h2>
  <h3>Que tal <%= link_to "cadastrar", new_collaborator_path %> um novo?</h3>
<% else %>

  <h1>Todos Colaboradores</h1>
  <%= will_paginate %>
  <ul class="collaborators">
    <%= render @collaborators %>
  </ul>
  <%= will_paginate %>

<% end %>
