<footer class="footer">
  <small>
    <a href="http://keepintouch.net.br/">Keepintouch</a>
    by Aline de Oliveira Freitas
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Web Developer",   about_path(:anchor => "about-dev") %></li>
      <li><a href='mailto:aline.do.freitas@gmail.com'>Contate-a</a></li>
    </ul>
  </nav>
</footer>
